<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>The Tech Blog</title>
</head>

<body>
    <div class="flex-col justify-around h-dvh">
        <header class="flex-col justify-between items-center p-2 bg-c3">
            <nav class="text-xl text-white flex justify-between max-w-md p-2 mx-3">
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <!-- Render login or logout button depending on user's status -->
                {{#if logged_in}}
                <button id="logout">Logout</button>
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
            <div class="flex p-2 mx-3">
                <h1 class="text-4xl text-white font-bold bg-c2 p-2 rounded-lg">The Tech Blog</h1>
            </div>
        </header>
        <main class="min-h-full bg-c1 py-3">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
    </div>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>