<div class="flex-col border-4 border-emerald-800 my-6 mx-16">
    <div class="flex justify-between items-center py-3 px-5 bg-emerald-800 text-cyan-200">
        <p class="text-3xl">Create New Post</p>
    </div>
    <div class="py-3 px-5">
        <form class="flex-col text-2xl">
            <div class="my-4">
                <label>Title</label>
                <input id="title" type="text" class="border-2 w-full h-10 p-2" />
            </div>
            <div class="my-4">
                <label>Content</label>
                <input id="content" type="text" class="border-2 w-full h-10 p-2" />
            </div>
            <div class="my-4">
                <button type="submit" class="bg-indigo-500 p-2 rounded text-white font-bold w-full">Create</button>
            </div>
        </form>
    </div>
</div>

<div id="user_id" value="{{user_id}}"></div>

<script src="./js/createPost.js"></script>