{{#each posts as |post| }}
<a href="/dashboard/edit-post/{{post.id}}" class="flex justify-between items-center py-3 px-5 my-6 mx-16 border-2 rounded-lg bg-c3 text-c1">
    <p class="text-2xl">{{post.title}}</p>
    <p class="text-2xl">{{format_date post.date_created}}</p>
</a>
{{/each}}
<a href="/dashboard/create-post" class="flex justify-center items-center">
    <button class="text-3xl bg-c2 text-c1 py-4 px-8 border-2 rounded-lg">
        + New Post
    </button>
</a>