<div class="flex-col border-4 border-emerald-800 my-6 mx-16">
    <div class="flex justify-between items-center py-3 px-5 bg-emerald-800 text-cyan-200">
        <p class="text-3xl">Edit Post</p>
    </div>
    <div class="py-3 px-5 text-2xl">
        <form class="flex-col">
            <div class="my-4">
                <label>Title</label>
                <input id="title" type="text" class="border-2 w-full h-10 p-2" value="{{post.title}}" />
            </div>
            <div class="my-4">
                <label>Content</label>
                <input id="content" type="text" class="border-2 w-full h-10 p-2" value="{{post.content}}" />
            </div>
            <div class="my-4">
                <button type="submit" class="bg-indigo-500 p-2 rounded text-white font-bold w-full">Update Post</button>
            </div>
        </form>
        <button id="delete-button" class="bg-indigo-500 p-2 rounded text-white font-bold w-full">Delete</button>
    </div>
</div>

<div id="post_id" value="{{post.id}}"></div>

<script src="./js/editPost.js"></script>