<div class="flex-col border-4 border-c2 my-6 mx-16">
    <div class="flex justify-between items-center py-3 px-5 bg-c2">
        <p class="text-3xl text-white font-bold">Edit Post</p>
    </div>
    <div class="py-3 px-5 text-2xl bg-white">
        <form class="flex-col">
            <div class="my-4">
                <label>Title</label>
                <input id="title" type="text" class="border-2 w-full h-10 p-2" value="{{post.title}}"/>
            </div>
            <div class="my-4 text-c4">
                <label>Content</label>
                <textarea id="content" class="border-2 w-full p-2 text-lg">{{post.content}}</textarea>
            </div>
            <div class="hidden">
                <input id="post_id" type="text" value="{{post.id}}"/>
            </div>
            <div class="my-4 text-c4">
                <button type="submit" class="bg-c2 p-2 rounded text-white font-bold w-full">Update Post</button>
            </div>
        </form>
        <button id="delete-button" class="bg-c3 p-2 rounded text-white font-bold w-full">Delete</button>
    </div>
</div>

<script src="/js/editPost.js"></script>