<div class="flex-col border-4 border-c3 my-6 mx-16">
    <div class="flex justify-between items-center py-3 px-5 bg-c3">
        <p class="text-3xl text-white font-bold">Login</p>
    </div>
    <div class="py-3 px-5 bg-white">
        <form class="flex-col text-2xl">
            <div class="my-4 text-c4">
                <label>Username</label>
                <input id="username" type="text" class="border-2 w-full h-10 p-2" />
            </div>
            <div class="my-4 text-c4">
                <label>Password</label>
                <input id="password" type="text" class="border-2 w-full h-10 p-2" />
            </div>
            <div class="my-4">
                <button type="submit" class="bg-c2 p-2 rounded text-white font-bold w-full">Login!</button>
            </div>
        </form>
        <a href="/signup" class="text-c4">Don't have an account? Sign up!</a>
    </div>
</div>

<script src="/js/login.js"></script>